# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
*.iml

*/target/


out/
singleton/src/main/resources/
singleton/src/test/java/com/github/xc145214/single/AppTest.java
singleton/src/test/java/com/github/xc145214/single/EnumIvoryTowerTest.java
singleton/src/test/java/com/github/xc145214/single/InitializingOnDemandHolderIdiomTest.java
singleton/src/test/java/com/github/xc145214/single/IvoryTowerTest.java
singleton/src/test/java/com/github/xc145214/single/ThreadSafeDoubleCheckLockingTest.java
singleton/src/test/java/com/github/xc145214/single/ThreadSafeLazyLoadedIvoryTowerTest.java
singleton/target/
